environment         = "development"
state_bucket        = "travelhub-terraform-state-<AWS_ACCOUNT_ID>"
db_password         = "CHANGE_ME"
jwt_secret_key      = "CHANGE_ME"
internal_api_key    = "CHANGE_ME"
smtp_host           = "smtp.gmail.com"
smtp_port           = "587"
smtp_user           = "CHANGE_ME"
smtp_password       = "CHANGE_ME"
smtp_from           = "CHANGE_ME"
skip_final_snapshot = true
publicly_accessible = true
fcm_project_id           = ""
fcm_service_account_json = ""
# fcm_project_id           = "travelhub-dev-a1b2c"
# fcm_service_account_json = file("./fcm-service-account.json")
